@import "../../global.scss";

.intro {
  background-image: url("../../images/intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(50%);
  filter: hue-rotate(40deg);
  transition: 1s ease;

  width: inherit;
  height: calc(100vh - 60px);
  top: 60px;
  scroll-snap-align: start;
  &.active {
    filter: hue-rotate(80deg) blur(10px);
  }
  .wrapper {
    position: absolute;
    top: 20%;
    left: 10%;

    h1 {
      font-size: 20px;
      margin: 10px 0;
      color: rgba($color: white, $alpha: 0.9);
    }
    h2 {
      color: rgba($color: white, $alpha: 0.8);
      font-size: 20px;
    }

    h3 {
      span {
        font-size: 20px;
        color: rgba($color: white, $alpha: 0.6);
      }

      .ityped-cursor {
        animation: blink 1s infinite;
      }
      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    @include media(">=tablet") {
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        span {
          font-size: 30px;
        }
      }
    }
  }
}
