.intro{
  background-image: url("../../images/intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(50%);
  filter: hue-rotate(40deg);
  transition: 1s ease;

  &.active{
    filter: hue-rotate(80deg) blur(10px) ;
  }
  .wrapper{
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    h1{
      font-size: 100px;
      margin: 10px 0;
    }
    h2{font-size: 35px; }

    h3{ 
      font-size: 30px;
    
    }
  }

  a {
  position: absolute;
  bottom: 10px;
  left: 40%;

    .arrow{
      font-size: 90px;
      color: black;
      animation: arrowBlink 1s infinite;
    }
    @keyframes arrowBlink {
      100%{opacity: 0;}
    }
  }
}
