@import "./global.scss";

.app {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;

  .sections {
    width: 100%;

    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; // for firefox

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: absolute;
      height: calc(100vh - 60px);
      top: 60px;
      scroll-snap-align: start;
    }
  }
}
